*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imga img{
   width: 100%;
    object-fit: cover;
      
}
.hinhanh img{
    width: 100%;
    height: 330px;
    object-fit: cover;
    border-radius: 5px;
}
.card{
    height: 330px;
    position: relative;
}
.card img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all linear .5s;
}


.one{
    opacity: 1;
    z-index: 1;
    
}

.two{
    opacity: 0;
    z-index: 0;
}

.card:hover .one {
    opacity: 0;
    z-index: 0;
}

.card:hover .two {
    opacity: 1;
    z-index: 1;
}
.col span{
    color: red;
    text-decoration: line-through;
} 
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.red{
    background-color: red;
}


