.thumbnail-slider {
  width: 100%;
}

.thumbnail-slider:nth-child(2) {
  display: none;
}

.voucher-title {
  font-size: 16px;
  font-weight: 700;
  padding: 10px 0;
}

.voucher-list-item {
  display: flex;
  gap: 20px;
  min-height: 150px;
  /* max-height: 1400px; */
  margin-bottom: 100px;
}

.voucher-item {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px;
  width: 25%;
  position: relative;
}
.voucher-item-info {
  overflow: auto;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 1400px;
}

.voucher-item-button {
  border-radius: 99999999999999999px;
  padding: 3px 10px;
  cursor: pointer;
  margin-left: auto;
  display: block;
  position: absolute;
  bottom: 5%;
  right: 3%;
}
/* .product + .product {
  margin-bottom: 20px;
} */
.product {
  margin-bottom: 70px;
}

.product-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.product-category-seeall {
  font-size: 14px;
  text-decoration: none;
}
.product-detail {
  display: flex;
  gap: 5px;
  margin-bottom: 30px;
}

.product-detail-infomation {
  width: 20%;
  position: relative;
}
.product-detail-soldout {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #565656;
  color: #fff;
  font-size: 11px;
  padding: 3px 5px;
}

.product-detail-img {
  width: 100%;
  object-fit: cover;
  display: block;
  height: 275px;
  border-radius: 4px;
  overflow: hidden;
}

.product-detail-name a {
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: 500;
  padding: 12px 10px 4px 10px;
  height: 51.2px;
}

.product-detail-infomation-price {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  gap: 5px;
  align-items: center;
  margin: 5px 10px;
}
.product-detail-salesale {
  color: #d0021b;
}

.product-detail-cost {
  font-weight: normal;
  font-size: 13px;
  text-decoration: line-through;
}
.product-seemore {
  justify-content: center;
  display: flex;
}
.product-seemore-button {
  padding: 15px 30px;
  border-radius: 3px;
  border: none;
  background-color: #3d3838;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
.product-seemore-b {
  font-weight: 700;
}
.suggest-product-set {
  display: flex;
  justify-content: space-between;
}

.suggest-product-img {
  width: 30%;
}

.img {
  width: 100%;
  object-fit: cover;
  height: 450px;
}
.suggest-product {
  background-color: #f5f5f5;
  /* max-height: 1400 px; */
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .voucher-item-info {
    margin-bottom: 50px;
  }
  .voucher-list-item {
    flex-wrap: wrap;
    /* height: auto; */
    margin-bottom: 30px;
  }
  .voucher-item {
    width: 100%;
  }
  .product-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  .product-detail-infomation {
    width: 50%;
    padding: 6px 10px;
  }
  .product-detail-img {
    height: 170px;
  }
  .product-category {
    font-size: 10px;
  }
  .suggest-product-img {
    width: 100%;
  }
  .img {
    height: 225px;
  }
  .suggest-product-set {
    flex-wrap: wrap;
  }
}
.product-detail-infomation:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.08);
  transition: all 0.5s;
}
.product-seemore-button:hover {
  background-color: #000;
}

.suggest-product-title {
  font-size: 24px;
  padding: 20px 0;
  font-weight: 700;
}
